# ACME: Pandas 1
## Jincheng(Eric) Huang

In [1]:
import pandas as pd
import numpy as np

1. Create a pandas `Series` where the index labels are even integers $0,2,...,50$, and the entries are $n^2-1$, where $n$ is the entry's label. Set all of the entries equal to zero whose labels are divisible by $3$.

In [2]:
entries = np.arange(0,26,1)**2-1
idx = 2*np.arange(0,26,1)
s1 = pd.Series(entries,index=idx)
s1[[i for i in s1.index if i%3==0]] = 0

2. Suppose you make an investment of $d$ dollars in a particularly volatile stock. Every day the value of your stock goes up by $\$1$ with probability $p$, or down by $\$1$ with probability $1-p$ (this is an example of a _random walk_).

    Write a function that accepts a probability parameter $p$ and an initial amount of money $d$, defaulting to 100. Use `pd.date_range()` to create an index of the days from 1 January 2000 to 31 December 2000. Simulate the daily change of the stock by making one draw from a Bernoulli distribution with parameter $p$ (a binomial distribution with one draw) for each day.

    Store the draws in a pandas `Series` with the date index and set the first draw to the initial amount $d$. Sum the entries cumulatively to get the stock value by day. Set any negative values to 0, then plot the series using the `plot()` method of the `Series` object.

    Call your function with a few different values of $p$ and $d$ to observe the different possible kinds of behavior.

In [3]:
def simulate_wealth(p,d=None):
    if d is None:
        d = 100
    
    dates = pd.date_range("1/1/2000","12/31/2000",freq='D')
    nDates = len(dates)
    bernoulli_draws = pd.Series(np.random.binomial(1,p,nDates),index=dates)
    bernoulli_draws = bernoulli_draws+ (-1)*(bernoulli_draws==0)
    bernoulli_draws[0] = 0
    cum_draws = bernoulli_draws.cumsum()
    wealth_series = pd.Series(d*np.ones(nDates),index=dates)
    wealth_series = wealth_series + cum_draws
    wealth_series[wealth_series<0] = 0
    print(wealth_series)
    wealth_series.plot()
    
simulate_wealth(.5)

2000-01-01    100.0
2000-01-02    101.0
2000-01-03    102.0
2000-01-04    103.0
2000-01-05    104.0
2000-01-06    103.0
2000-01-07    104.0
2000-01-08    103.0
2000-01-09    102.0
2000-01-10    103.0
2000-01-11    102.0
2000-01-12    103.0
2000-01-13    102.0
2000-01-14    103.0
2000-01-15    104.0
2000-01-16    103.0
2000-01-17    104.0
2000-01-18    105.0
2000-01-19    104.0
2000-01-20    103.0
2000-01-21    104.0
2000-01-22    105.0
2000-01-23    106.0
2000-01-24    107.0
2000-01-25    106.0
2000-01-26    107.0
2000-01-27    108.0
2000-01-28    109.0
2000-01-29    108.0
2000-01-30    109.0
              ...
2000-12-02    112.0
2000-12-03    113.0
2000-12-04    114.0
2000-12-05    115.0
2000-12-06    116.0
2000-12-07    115.0
2000-12-08    116.0
2000-12-09    117.0
2000-12-10    116.0
2000-12-11    115.0
2000-12-12    116.0
2000-12-13    117.0
2000-12-14    118.0
2000-12-15    117.0
2000-12-16    118.0
2000-12-17    119.0
2000-12-18    118.0
2000-12-19    117.0
2000-12-20    118.0
2000-12-21    119.0
2000-12-22    120.0
2000-12-23    119.0
2000-12-24    120.0
2000-12-25    119.0
2000-12-26    120.0
2000-12-27    119.0
2000-12-28    118.0
2000-12-29    119.0
2000-12-30    118.0
2000-12-31    119.0
Freq: D, Length: 366, dtype: float64

3. Use pandas to execute the query using the example in _Pandas1.pdf_:

    SELECT ID, Name from studentInfo WHERE Age > 19 AND Sex = 'M'

In [4]:
#build toy data for SQL operations
name = ['Mylan', 'Regan', 'Justin', 'Jess', 'Jason', 'Remi', 'Matt', 'Alexander', 'JeanMarie']
sex = ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F']
age = [20, 21, 18, 22, 19, 20, 20, 19, 20]
rank = ['Sp', 'Se', 'Fr', 'Se', 'Sp', 'J', 'J', 'J', 'Se']
ID = range(9)
aid = ['y', 'n', 'n', 'y', 'n', 'n', 'n', 'y', 'n']
GPA = [3.8, 3.5, 3.0, 3.9, 2.8, 2.9, 3.8, 3.4, 3.7]
mathID = [0, 1, 5, 6, 3]
mathGd = [4.0, 3.0, 3.5, 3.0, 4.0]
major = ['y', 'n', 'y', 'n', 'n']
studentInfo = pd.DataFrame({'ID': ID, 'Name': name, 'Sex': sex, 'Age': age,'Class': rank})
otherInfo = pd.DataFrame({'ID': ID, 'GPA': GPA, 'Financial_Aid': aid})
mathInfo = pd.DataFrame({'ID': mathID, 'Grade': mathGd, 'Math_Major': major})

In [5]:
studentInfo[(studentInfo['Age']>19) & (studentInfo['Sex']=='M')][['ID','Name']]

   ID   Name
0   0  Mylan
6   6   Matt

4. Using a join operation, create a `DataFrame` containing the ID, age, and GPA of all male individuals. You ought to be able to accomplish this in one line of code.

In [6]:
pd.merge(studentInfo[studentInfo['Sex']=='M'],otherInfo[studentInfo['Sex']=='M'],on='ID')[['ID','Age','GPA']]

   ID  Age  GPA
0   0   20  3.8
1   2   18  3.0
2   4   19  2.8
3   6   20  3.8
4   7   19  3.4